*{box-sizing: border-box;}
        
        body{margin: 0;}
        ul{list-style: none;}
        a{text-decoration: none; }
        
        
        /* ------------------------------------ */
        .wrapper{
           background-color: white;

        }

        /* header */
        .wrapper>header{
            min-width:1280px;
            height: 150px;
            text-align:center;
            border-bottom:1px;
            display: flex;
            justify-content: space-evenly;
            position: relative;

            
        }
        /*  */
        .wrapper>header>.head--left{
            height: 100%;
            position: relative;
        }
        .wrapper>header>.head--left>.logo{
            position:relative;
            top:28px;
            display: flex;
            justify-content: center;
            align-items: center; 
            border: 1px solid;
        }.wrapper>header>.head--left>.logo>a{
            display: block;
        }
        .wrapper>header>.head--left>.logo>img{
            width: 100%;
            height: 100%;
            border: 1px solid;

        }

        /*  */
        .wrapper>header>.head--mid{
            display: flex;
            position: relative;
            
            
        }
        .wrapper>header>.head--mid>nav{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .wrapper>header>.head--mid>nav>.menu{
            display: flex;
            justify-content: center;
            align-items: center;
        
        }

        .wrapper>header>.head--mid>nav>.menu::after
        .wrapper>header>.head--mid>nav>.menu:hover .submenu{
            display: block;
            
            /* left: 0; right: 0; */
            /* border-bottom: 3px; */
        }
        .wrapper>header>.head--mid>nav>.menu>li{
            width: 180px;
            height: 100px;
            margin-right: 80px;
            padding: 0 10px;
            position: relative;
            align-items: center;
            line-height: 3;

            border: 1px solid;
        }
        .wrapper>header>.head--mid>nav>.menu>li>a{
            color: #292929;
            font-size: 20px;
            font-weight: 600;
            line-height: 100px;
            
        }
        .wrapper>header>.head--mid>nav>.menu>li>.submenu{
            display: none;
            position: absolute;
            width: 100%;
            top: 100px;
            padding: 35px 10px 45px;
            background-color: white;
            /* border: 1px solid; */
        }
        .wrapper>header>.head--mid>nav>.menu>li>.submenu>li{
            border: 1px solid;
            margin-top: 3px;
            
        }
        .wrapper>header>.head--mid>nav>.menu>li>.submenu>li>a{
            display: block;
        }

        /*  */
        .wrapper>header>.head--right{}
        .wrapper>header>.head--right>a{}
        
        
        /* .wrapper>header>nav{
           
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .wrapper>header>nav>ul>li:nth-child(1){
            margin-right: 85px;
            padding: 0 10px;
            
            
        }
        .wrapper>header>nav>ul>li:nth-child(2){
            margin: 85px;
            padding: 0 10px;
        }
        .wrapper>header>nav>ul>li:nth-child(3){
            margin-right: 85px;
            padding: 0 10px;
        
        }
        .wrpper>header>nav>ul>li:nth-child(4){
            margin-right:  85px;
            padding: 0 10px;
        }

        .wrapper>header>nav>ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
        }

        .wrapper>header>nav>ul>li{
            
        }
        .wrapper>header>rent>ul{
            
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
        }
        .wrapper>header>rent>.h-right>li:nth-child(1){
            
            display: inline-block;
            width: 80px;
            padding-top: 2px;
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            line-height: 34px;
            text-align: center;
            border-radius: 48px;
            background: #db0007;
            /* background-color: red;
            border-radius: 48%;
            font-weight: 600;
            color: white;
            margin-right: 40px; */
            
        /* } */
        /* .wrapper>header>rent>.h-right>li:nth-child(2){
            display: inline-block;
            width: 80px;
            padding-top: 2px;
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            line-height: 34px;
            text-align: center;
            border-radius: 48px;
            background: #d87e00;
            
        }
        .wrapper>header>rent>.h-right>li:nth-child(3){
            display: inline-block;
            width: 80px;
            padding-top: 2px;
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            line-height: 34px;
            text-align: center;
            border-radius: 48px;
            background: green; */ 
            
        /* } */


        /* main */
        .wrapper>main{}
        .wrapper>main>.swipe{
            width: 1920px;
            height: 540%;
        }
        .wrapper>main>.swipe>img{}
        .wrapper>main>.inner{
            padding: 30px 0px 0px 60px;
        }
        .wrapper>main>.inner{
            width: 1200px;
            height: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .wrapper>main>.inner>h2{
            margin: 0px 0px 60px;
            
        }
        .wrapper>main>.inner>.card{
            list-style: none;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            
            
            
            
        }
        .wrapper>main>.inner>.card>li{
            flex-wrap: wrap;
        }
        .wrapper>main>.inner>.card>li:nth-child(1){
            display: inline-block;
        }
        .wrapper>main>.inner>.card>li:nth-child(2){
            display: inline-block
        }
        .wrapper>main>.inner>.card>li:nth-child(3){
            display: inline-block;
        }
        .wrapper>main>.inner>.card>li:nth-child(4){}
        .wrapper>main>.inner>.card>li:nth-child(5){}
        .wrapper>main>.inner>.card>li:nth-child(6){}
        .wrapper>main>.inner>div{
            
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: orange;
            
            
        }