*{}

body{
    height: 100%;
    overflow: hidden;
}

.wrapper{
    position: relative;
}
.wrapper>.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.wrapper>.header>.top-header{}
.wrapper>.header>.top-header>.logo{}
.wrapper>.header>.top-header>.logo>ul{}
.wrapper>.header>.top-header>.logo>ul>li{}
.wrapper>.header>.top-header>.logo>ul>li>a{}
.wrapper>.header>.top-header>.logo>ul>li>a>span{}
.wrapper>.header>.top-header>.logo>ul>li>a>img{}












































/* ------------ */

.wrapper>.header>.header-main{}
.wrapper>.header>.header-main>.h-section1{}
.wrapper>.header>.header-main>.h-section1>a{}
.wrapper>.header>.header-main>.h-section1>a>img{}

/* -------------- */

.wrapper>.header>.header-main>.h-section2{}
.wrapper>.header>.header-main>.h-section2>nav{}
.wrapper>.header>.header-main>.h-section2>nav>.depth1{}
.wrapper>.header>.header-main>.h-section2>nav>.depth1>li{}
.wrapper>.header>.header-main>.h-section2>nav>.depth1>li>a{}

.wrapper>.header>.header-main>.h-section2>nav>.depth2{}
.wrapper>.header>.header-main>.h-section2>nav>.depth2>li{}
.wrapper>.header>.header-main>.h-section2>nav>.depth2>li>a{}


/* ----------------- */

.wrapper>.header>.header-main>.h-section3{}
.wrapper>.header>.header-main>.h-section3>.lag{}
.wrapper>.header>.header-main>.h-section3>.lag>p{}
.wrapper>.header>.header-main>.h-section3>.lag>p>span{}
.wrapper>.header>.header-main>.h-section3>.lag>ul{}
.wrapper>.header>.header-main>.h-section3>.lag>ul>li{}

.wrapper>.header>.header-main>.h-section3>.hamburger{}
.wrapper>.header>.header-main>.h-section3>.hamburger>a{}
.wrapper>.header>.header-main>.h-section3>.hamburger>a>span{}